<!DOCTYPE html>
<html>
<head>
    <title>Unpaid Membership Fees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <main class="main">
    <h1>Unpaid Membership Fees</h1>

    {% if fees %}
        <table class="members-table ">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Semester</th>
                <th>Academic Year</th>
            </tr>
        </thead>

            {% for fee in fees %}
            <tr>
                <td>{{ fee.org_name }}</td>
                <td>{{ fee.amount }}</td>
                <td>{{ fee.fee_status }}</td>
                <td>{{ fee.semester }}</td>
                <td>{{ fee.academic_year }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No unpaid fees found.</p>
    {% endif %}
    <a class="btn" href="{{ url_for('index') }}">Back</a>
    </main>
</div>
</body>
</html>
